@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Christian Sargusingh<br />
    Ottawa, ON K2C0B9<br />
    <abbr title="Phone">P:</abbr>
    613.293.4315
</address>

<address>
    <strong>Support:</strong> <a href="mailto:christian@sargusingh.ca">christian@sargusingh.ca</a><br />
</address>
