@model RentalServices.Models.Customer
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register</h2>

@{ 
    // Using Razor Views we can have dynamic data attributes from our customer model used and updated in the form
    // => is a lambda expression? functional programming!
}

@Html.AntiForgeryToken()
<form class="form-horizontal">
    <fieldset>
        <legend>Registration Information Form</legend>
        @Html.ValidationSummary(true, "", new { @class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(model => model.Id, htmlAttributes: new { @class ="col-lg-2 control-label"})
            <div class="col-lg-10">
                @Html.EditorFor(model => model.Id, new { htmlAttributes = new {@type = "text", @class = "form-control", @placeholder="Customer ID"} })
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputEmail" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> View password
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="confirmPassword" class="col-lg-2 control-label">Confirm Password</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" id="retypePassword" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>
</form>